html, body {
    height: 1000px;
}

.body1 {
    background: url(../images/swiz.jpg);
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-size: cover;
    min-height: 1300px;
}
.watches {
	background: rgba(218, 165, 32, .8);
	display: inline-block;
    text-align: center;
	margin: 20px;
	padding: 10px;
    width: 250px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 7px 2px #daa520;
}
.main {
    font: 120% calibri;
    width: 81%;
    margin: 0 50px;
}
.main img {
	height: 150px;
	width: 150px;
}
.dropup {
    background: rgba(105, 105, 105, .85);
    position: absolute;
    z-index: 3;
    height: 67px;
    width: 100%;
    left: 0;
    bottom: -67px;
    transition: 0.7s all ease;
}
.dropup button {
    background: #FF8C00;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    transition: 0.4s all ease-out;
    margin: 13px;
}
.dropup button:hover {
    background: white;
    color: #FF8C00;
}
aside .aside-1 {
    height: 100%;
    width: 19%;
    position: fixed;
    right: 0;
    background: rgba(105, 105, 105, .85);
    z-index: 4;
    padding-left: 20px;
}
.aside-1 p {
    font: 140% calibri;
    color: #daa520;
}
.aside-1 p:first-child {
    margin-top: 30px;
}
input {
    margin: 0 10px 20px 0;
    border: 0;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}
input:focus {
    box-shadow: 0 0 6px 2px #daa520;
}
#find, #prost {
    outline: none;
}
hr {
    border: none;
    background: #696969;
    height: 1px;
}
.aside-2 {
    margin-top: 10px;
}
.aside-2 p {
    display: inline-block;
    margin-top: 20px;
}
.aside-2 span {
    background: rgba(255, 255, 255, .7);
    padding: 10px;
}
.aside-3 {
    margin-top: 50px;
}
.hide {
    display: none;
}
#sw {
    margin-top: -5px;
}
#weatherdiv p {
    font: 130% calibri;
    margin: 0;
}
#weatherdiv {
    width: 450px;
    height: 306px;
    position: absolute;
    z-index: 100;
    border: 5px solid white;
    cursor: pointer;
}
#weatherdiv .date img {
    height: 35px;
    width: 35px;
    margin: 2px 0;
}
.back2 {
    background: url(../images/swiz2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}
.hweath {
    z-index: 3;
    background: rgba(105, 105, 105, .85);
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
}
.hweath a {
    display: inline-block;
    height: 100%;
    width: 100px;
    text-decoration: none;
    line-height: 80px;
    text-align: center;
    font-family: 130% calibri;
    color: white;
    transition: .6s all ease;
}
.hweath a:hover {
    background: rgba(255, 165, 0, .7);
}
#forDD {
    background: white;
    width: 300px;
    height: 300px;
    display: block;
    background-position: center;
    background-size: cover;
    margin: 100px auto;
}
#getfile {
    display: none;
}
.country {
    display: inline-block;
}
#wdiv {
    background: #00CD66;
    padding: 15px;
    color: white;
}
#gdiv{
    background:  #D3D3D3;
    color: #696969;
}
.date {
    height: 40px;
    padding-top: 8px;
    border-bottom: 1px solid gray;
    padding-left: 10px;
    position: relative;
}
.date:last-child {
    border-bottom: none;
}
.date .temp {
    position: absolute;
    right: 10px;
}
.country {
    z-index: 1;
    position: relative;
    width: 100%;
}
.forclock {
    position: absolute;
    right: 0;
    padding-top: 2px;
}
.now {
    text-align: center;
}
.now img {
    display: block;
    width: 36px;
    margin: 0 auto;
}
.wsp, .humd {
    display: inline-block;
}
.humd {
    float: right;
}
.date .icons {
    position: absolute;
    left: 50%;
    top: 0;
}
.date .icons {
    transform: translateX(-50%);
}
